<?xml version="1.0"?>

<configuration>


  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="HtmlScriptHandler" path="*.html" verb="*"
     preCondition="integratedMode" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
</configuration>
