<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\YT\Documents\Publish.Slowpoke\Cabinet.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>SlowpokeCabinet</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=SlowpokeNET;User ID=SlowpokeASP;Password=123qwe123@" Name="Server=localhost;Database=SlowpokeNET;User Id=SlowpokeASP;Password=123qwe123@;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Cabinet.Models.ApplicationDbContext, Cabinet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SlowpokeEngine.DAL.GameStorage" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=SlowpokeNET;User ID=SlowpokeASP;Password=123qwe123@" Name="Server=localhost;Database=SlowpokeNET;User Id=SlowpokeASP;Password=123qwe123@;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SlowpokeEngine.DAL.GameStorage, SlowpokeEngine" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Server=localhost;Database=SlowpokeNET;User Id=SlowpokeASP;Password=123qwe123@;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SlowpokeEngine.DAL.GameStorage-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Server=localhost;Database=SlowpokeNET;User Id=SlowpokeASP;Password=123qwe123@;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SlowpokeEngine.DAL.GameStorage" />
  </ItemGroup>
</Project>