<!DOCTYPE html>
<html ng-app="slowpoke_client_app">
<head>
    <link rel="stylesheet" type="text/css" href="/Content/ng-dialog.css">
    <link rel="stylesheet" type="text/css" href="/Content/ng-dialog-default.css">
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css">

    <script src="/Scripts/lib/easeljs-0.8.0.min.js"></script>
    <script src="/Scripts/lib/promise-6.1.0.min.js"></script>
    <script src="/Scripts/lib/class.js"></script>
    <script src="/Scripts/Engine_TS/bodies.js"></script>
    <script src="/Scripts/Engine_TS/Engines/ViewEngine/body-image.js"></script>
    <script src="/Scripts/Engine_TS/Engines/MapEngine/tile.js"></script>
    <script src="/Scripts/Engine_TS/Entities/common.js"></script>
    <script src="/Scripts/Engine_TS/Entities/IShape.js"></script>
    <script src="/Scripts/Engine_TS/Entities/Shape.js"></script>
    <script src="/Scripts/Engine_TS/Entities/Event.js"></script>
    <script src="/Scripts/Engine_TS/Engines/ViewEngine/infobox.js"></script>
    <script src="/Scripts/Engine_TS/Factories/infobox-factory.js"></script>
    <script src="/Scripts/Engine_TS/game-constants.js"></script>
    <script src="/Scripts/Engine_TS/Engines/ViewEngine/menu.js"></script>
    <script src="/Scripts/Engine_TS/commands.js"></script>
    <script src="/Scripts/Engine_TS/Engines/MapEngine/map_engine.js"></script>
    <script src="/Scripts/Engine_TS/Engines/PhysicsEngine/physics-processing-result.js"></script>
    <script src="/Scripts/Engine_TS/Engines/PhysicsEngine/IPhysicsEngine.js"></script>
    <script src="/Scripts/Engine_TS/Engines/PhysicsEngine/physics-engine.js"></script>
    <script src="/Scripts/Engine_TS/Engines/MechanicEngine/mechanic_engine.js"></script>
    <script src="/Scripts/Engine_TS/Engines/ViewEngine/animation.js"></script>
    <script src="/Scripts/Engine_TS/Engines/ViewEngine/view-engine.js"></script>
    <script src="/Scripts/Engine_TS/serverbody_synchronizer.js"></script>
    <script src="/Scripts/Engine_TS/weapon.js"></script>
    <script src="/Scripts/Resources/Images/policeman.js"></script>
    <script src="/Scripts/Resources/Images/cowboy.js"></script>
    <script src="/Scripts/Resources/Images/cowboyTS.js"></script>
    <script src="/Scripts/Resources/Images/bottle.js"></script>
    <script src="/Scripts/Resources/Images/tree.js"></script>
    <script src="/Scripts/ClientGameEngine/game-constants.js"></script>
    <script src="/Scripts/ClientGameEngine/map-cell-factory.js"></script>
    <script src="/Scripts/ClientGameEngine/map-cell.js"></script>
    <script src="/Scripts/ClientGameEngine/game-context.js"></script>
    <script src="/Scripts/ClientGameEngine/body-factory.js"></script>
    <script src="/Scripts/ClientGameEngine/view-body-factory.js"></script>
    <script src="/Scripts/ClientGameEngine/body-image-factory.js"></script>
    <script src="/Scripts/ClientGameEngine/game-world-manager.js"></script>
    <script src="/Scripts/ClientGameEngine/server-proxy.js"></script>
    <script src="/Scripts/ClientGameEngine/controls-manager.js"></script>
    <script src="/Scripts/ClientGameEngine/factories.js"></script>
    <script src="/Scripts/ClientGameEngine/config.js"></script>
    <script src="/Scripts/ClientGameEngine/game-map.js"></script>
    <script src="/Scripts/ClientGameEngine/world.js"></script>
    <script src="/Scripts/ClientGameEngine/mechanic-engine.js"></script>
    <script src="/Scripts/ClientGameEngine/game.js"></script>
    <script src="/Scripts/lib/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/lib/jquery.signalR-2.2.0.js"></script>
    <script src="/Scripts/lib/angular.js"></script>
    <script src="/Scripts/lib/ng-dialog.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/ClientApplication/client_application.js"></script>

    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3 ng-model="WindowName">{{WindowName}}</h3>
            <p ng-model="Message">{{Message}}</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('Ok')">Ok</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
        </div>
    </script>

    <title></title>
</head>
<body ng-controller="MainCtrl">
    <div class="text-center center-block" ng-if="loader.gameLoading"><span>Slowpoking...</span><img src="../Content/loading.gif"></div>
    <canvas id="canvas"></canvas>
</body>
</html>
