<html ng-app="slowpoke_client_app">
<head>
    <link rel="stylesheet" type="text/css" href="/Content/ng-dialog.css">
    <link rel="stylesheet" type="text/css" href="/Content/ng-dialog-default.css">
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css">

    <script src="/Scripts/easeljs-0.8.0.min.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
    <script src="/Scripts/Resources/Images/policeman.js"></script>
    <script src="/Scripts/ClientGameEngine/menu.js"></script>
    <script src="/Scripts/ClientGameEngine/view-manager.js"></script>
    <script src="/Scripts/ClientGameEngine/game-world-manager.js"></script>
    <script src="/Scripts/ClientGameEngine/server-proxy.js"></script>
    <script src="/Scripts/ClientGameEngine/controls-manager.js"></script>
    <script src="/Scripts/ClientGameEngine/factories.js"></script>
    <script src="/Scripts/ClientGameEngine/config.js"></script>
    <script src="/Scripts/ClientGameEngine/utils.js"></script>
    <script src="/Scripts/ClientGameEngine/game-map.js"></script>
    <script src="/Scripts/ClientGameEngine/map-cell.js"></script>
    <script src="/Scripts/ClientGameEngine/game-object.js"></script>
    <script src="/Scripts/ClientGameEngine/world.js"></script>
    <script src="/Scripts/ClientGameEngine/game.js"></script>
    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/ng-dialog.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/ClientApplication/client_application.js"></script>

    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3 ng-model="WindowName">{{WindowName}}</h3>
            <p ng-model="Message">{{Message}}</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('Ok')">Ok</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
        </div>
    </script>

    <title></title>
</head>
<body ng-controller="MainCtrl">
    <div class="text-center center-block" ng-if="loader.gameLoading"><span>Slowpoking...</span><img src="../Content/loading.gif"></div>
        <canvas id="canvas"></canvas>
</body>
</html>
